---
import "../global.css";
---

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
  rel="stylesheet"
/>

<div id="container">
  <main>
    <section id="hero">
      <section id="banner">
        <h2>A part-time programmer ;)</h2>
        <h1>Arslan Mudasir</h1>
        <h2 id="welcome">Welcome to my personal site :)</h2>
      </section>

      <!-- <hr /> -->
      <h1 id="heading">About Me :)</h1>

      <p id="intro">
        I'm a computer systems and programming enthusiast. Following my passion,
        I've been learning about computer systems and coding for a while now. I
        mostly work with computers because they keep me excited every time I use
        them.
      </p>

      <p id="intro">
        As a recreationalist, some of my popular work includes my recreational
        projects, to name a few:
      </p>
      <ol>
        <li>
          <a href="https://dont-save-deez-notes.vercel.app/">save-deez-notes</a>
          - A Discord-based wrapped website, which relies on a bot to store and retrieve
          my notes in a Discord server.
        </li>
        <li>
          <a href="https://github.com/1stupidgeek/Laziness-Script"
            >laziness-script</a
          > - A script that uses a machine learning model to scroll short-form content
          without needing to scroll or touch your device, by just performing a nod.
        </li>
        <li>
          <a href="https://tic-tic-tic.vercel.app/">Realtime Tic-Tac-Toe</a> - A
          multiplayer, real-time Tic-Tac-Toe game that implements web sockets to
          allow users to play live.
        </li>
        <li>
          <a href="https://stupid-typetest.vercel.app/">stupid-typetest</a> - A typing
          test to increase your typing speed.
        </li>
      </ol>

      <p id="intro">
        I also have a <a href="https://www.youtube.com/@stupidgeek"
          >YouTube Channel</a
        > named <span>Stupidgeek</span>, with about <span>10,000</span> subscribers
        and over <span>600,000</span> views.
      </p>
      <p id="intro">
        The channel revolves around my passion for recreational programming. My
        videos mostly cover my projects, and people really seem to like them.
        I’ve built an active community of people who appreciate and respect my
        work. My Discord server has about 1,000 members, all of whom joined
        through my content.
      </p>
      <p id="intro">
        Moreover, I’ve had some freelancing experience to pay my bills. I've
        created websites for local businesses, such as one for <a
          href="https://www.drwaseemandrabi.com">Dr. Waseem</a
        > and a local startup, <a href="https://www.fifertechnologies.com"
          >Fifer Technologies</a
        >.
      </p>
      <p id="intro">
        I’m always looking for opportunities to grow, improve my skills, and
        learn new things that come my way.
      </p>
    </section>

    <!-- <hr /> -->
    <section id="other-skills">
      <h1 id="heading">Other Skills</h1>
      <p id="intro">I'm a confident speaker and a keen listener.</p>
      <p id="intro">
        I can speak and understand three different languages from three
        different ethnicities (English, Urdu, and Kashmiri).
      </p>
      <p id="intro">
        With my creative background, I have solid video and photo editing
        skills. Over the years, I’ve explored different software and fine-tuned
        my abilities.
      </p>
      <p id="intro">
        I know a few programming languages (JavaScript, Python, and some C).
      </p>
      <p id="intro">
        I have good problem-solving skills (I learned to solve a Rubik's Cube at
        a very young age).
      </p>
    </section>
  </main>
</div>

<style>
  #banner {
    width: 100%;
    padding-top: 3em;
    padding-bottom: 2rem;
  }

  #welcome {
    font-family: "GochiHand";
    color: blue;
    text-decoration: underline;
    text-decoration-color: blue;
  }

  #intro {
    padding-top: 10px;
    padding-bottom: 10px;
    width: fit-content;
    font-family: "Times New Roman", Times, serif;
  }

  #container {
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
      Arial, sans-serif;
    height: 100%;
    padding-bottom: 50px;
  }

  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  #hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* font-family: "Poppins", Times, serif; */
    font-family: "Poppins", 'Times New Roman', Times, serif;
    font-display: swap;
    max-width: 50%;
  }

  #other-skills {
    max-width: 50%;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  h1 {
    font-size: 5rem;
    margin: 0;
    margin-bottom: 18px;
    font-weight: 400;
    line-height: 1;
  }

  #heading {
    font-size: 2em;
    font-family: "Times New Roman", Times, serif;
    text-decoration: underline;
    color: rebeccapurple;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    font-family: "Times New Roman", Times, serif;
    color: #4b5563;
    font-size: 1.6rem;
  }

  span {
    /* color: blue; */
    color:brown;
  }

  h2 {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: rgb(98, 98, 98);
    box-shadow: 10px, 10px, black;
    font-size: 30px;
    line-height: 1;
    width: 100%;
  }

  p {
    color: #4b5563;
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: -0.006em;
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    #container {
      display: flex;
      flex-direction: column;
      padding-bottom: 50px;
    }

    #hero {
      display: block;
      padding-top: 10%;
    }

    #other-skills {
      padding-top: 1em;
    }

    h1 {
      line-height: 1;
    }

    #hero {
      max-width: 90%;
    }

    #other-skills {
      max-width: 90%;
    }

    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.3rem;
    }

    li {
      font-size: 1.3rem;
    }

    #heading {
      font-size: 1.6rem;
    }
  }

  @media screen and (max-width: 480px) {
    #container {
      padding: 0 10px;
      padding-bottom: 50px;
    }

    #hero {
      max-width: 100%;
    }

    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 1.4rem;
    }

    p {
      font-size: 1.2rem;
    }

    li {
      font-size: 1.2rem;
    }

    #heading {
      font-size: 1.6rem;
    }

    #other-skills {
      padding-top: 1em;
      max-width: 100%;
    }
  }

  @media screen and (min-width: 1024px) {
    #hero {
      max-width: 60%;
    }

    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 1.4rem;
    }

    li {
      font-size: 1.4rem;
    }

    #other-skills {
      padding-top: 3rem;
      max-width: 60%;
    }

    #heading {
      font-size: 2.5rem;
    }
  }
</style>
