---
import "../global.css";
---

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
  rel="stylesheet"
/>

<div id="container">
  <main>
    <section id="hero">
      <section id="banner-container">
        <section id="banner">
          <h2>A part-time programmer ;)</h2>
          <h1>Arslan Mudasir</h1>
          <h2 id="welcome">Welcome to my personal site :)</h2>
        </section>

        <section id="socials">
          <div id="social">
            <a target="_blank" href="https://www.youtube.com/@stupidgeek" style="display: flex; align-items: center; gap: 5px; justify-content: center;">
              <img src="/youtube-color.svg" width="30" height="30" />
              <h3>@stupidgeek</h3>
            </a>
          </div>
          <div id="social">
            <img src="/github-color.svg" width="30" height="30" />
            <a target="_blank" href="https://github.com/1stupidgeek" style="display: flex; align-items: center; gap: 5px; justify-content: center;">
              <h3>@1stupidgeek</h3>
            </a>
            <h3>/</h3>
            <a target="_blank" href="https://github.com/1arslanmalik" style="display: flex; align-items: center; gap: 5px; justify-content: center;">
              <h3>@1arslanmalik</h3>
            </a>
          </div>
          <div id="social">
            <a target="_blank" href="mailto:arslanmudasir111@gmail.com" style="display: flex; align-items: center; gap: 5px; justify-content: center;">
              <img src="/gmail-color.svg" width="30" height="30" />
              <h3>arslanmudasir111@gmail.com</h3>
            </a>
          </div>
          <div id="social">
            <a target="_blank" href="https://x.com/1stupidgeek" style="display: flex; align-items: center; gap: 5px; justify-content: center;">
              <img src="/x-color.svg" width="30" height="30" />
              <h3>@1stupidgeek</h3>
            </a>
          </div>
          <div id="social">
            <a target="_blank" href="https://www.instagram.com/arslan.mudasir/" style="display: flex; align-items: center; gap: 5px; justify-content: center;">
              <img src="/instagram-color.svg" width="30" height="30" />
              <h3>@arslan.mudasir</h3>
            </a>
          </div>
        </section>
      </section>

      <h1 id="heading">About Me :)</h1>

      <p id="intro">
        I'm a <b>computer systems and programming enthusiast.</b> Following my passion,
        I've been learning about computer systems and coding for a while now. I
        mostly work with computers because they keep me excited every time I use
        them.
      </p>

      <p id="intro">
        As a <b><a target="_blank" href="https://en.wikipedia.org/wiki/Recreation" style="color: #4b5563">recreationalist</a></b>, some of my popular work includes my recreational
        projects, to name a few:
      </p>
      <ol>
        <li>
          <a target="_blank" href="https://dont-save-deez-notes.vercel.app/"><b>save-deez-notes</b></a>
          - A Discord-based wrapped website, which relies on a bot to store and retrieve
          my notes in a Discord server.
        </li>
        <li>
          <a target="_blank" href="https://github.com/1stupidgeek/Laziness-Script"><b>laziness-script</b></a>
          - A script that uses a machine learning model to scroll short-form content
          without needing to scroll or touch your device, by just performing a nod.
        </li>
        <li>
          <a target="_blank" href="https://tic-tic-tic.vercel.app/"><b>Realtime Tic-Tac-Toe</b></a> - A
          multiplayer, real-time Tic-Tac-Toe game that implements web sockets to
          allow users to play live.
        </li>
        <li>
          <a target="_blank" href="https://stupid-typetest.vercel.app/"><b>stupid-typetest</b></a> - A typing
          test to increase your typing speed.
        </li>
      </ol>

      <p id="intro">
        I also have a <a target="_blank" href="https://www.youtube.com/@stupidgeek">YouTube Channel</a>
        named <b>Stupidgeek</b>, with about <b>10,000</b> subscribers
        and over <b>600,000</b> views.
      </p>
      <p id="intro">
        My channel revolves around my <b>passion for recreational programming.</b> My
        videos mostly cover my projects, and people really seem to like them.
        I’ve built an active community of people who appreciate and respect my
        work. My Discord server has about <b>1,000 members</b>, all of whom joined
        through my content.
      </p>
      <p id="intro">
        Moreover, I’ve had some <b>freelancing</b> experience to pay my bills. I've
        created websites for local businesses, such as one for <a target="_blank" href="https://www.drwaseemandrabi.com">Dr. Waseem</a>
        and a local startup, <a target="_blank" href="https://www.fifertechnologies.com">Fifer Technologies</a>.
      </p>
      <p id="intro">
        I’m <b>looking for opportunities</b> to grow, improve my skills, and
        learn new things that come my way.
      </p>
    </section>

    <section id="other-skills">
      <h1 id="heading">Other Skills</h1>
      <p id="intro">I'm a confident speaker and a keen listener.</p>
      <p id="intro">
        I can speak and understand three different languages from three
        different ethnicities (English, Urdu, and Kashmiri).
      </p>
      <p id="intro">
        With my creative background, I have solid <b>video and photo editing</b>
        skills. Over the years, I’ve explored different software and fine-tuned
        my abilities.
      </p>
      <p id="intro">
        I know a few <b>programming languages</b> (JavaScript, Python, and some C).
      </p>
      <p id="intro">
        I have good <b>problem-solving skills</b> (considering that I learned to solve a Rubik's Cube at
        a very young age).
      </p>
    </section>
  </main>
</div>

<style>
  #banner {
    width: 100%;
  }

  #banner-container {
    padding-top: 2em;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  #socials {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 2rem;
  }

  #social {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  #welcome {
    font-family: "GochiHand";
    color: blue;
    text-decoration: underline;
    text-decoration-color: blue;
  }

  #intro {
    padding-top: 10px;
    padding-bottom: 10px;
    width: fit-content;
    font-family: "Times New Roman", Times, serif;
  }

  #container {
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
    height: 100%;
    padding-bottom: 50px;
  }

  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  #hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Poppins", "Times New Roman", Times, serif;
    max-width: 65%;
  }

  #other-skills {
    max-width: 65%;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  h1 {
    font-size: 5rem;
    margin: 0;
    margin-bottom: 18px;
    font-weight: 400;
    line-height: 1;
  }

  h3 {
    font-size: 15px;
    font-weight: 300;
    color: #4b5565;
    margin: 0;
  }

  h3:hover {
    color: blue;
  }

  #heading {
    font-size: 2em;
    font-family: "Times New Roman", Times, serif;
    text-decoration: underline;
    color: rebeccapurple;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    font-family: "Times New Roman", Times, serif;
    color: #4b5563;
    font-size: 1.6rem;
  }

  span {
    color: brown;
  }

  h2 {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: rgb(98, 98, 98);
    font-size: 30px;
    line-height: 1;
    width: 100%;
  }

  p {
    color: #4b5563;
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: -0.006em;
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    #container {
      display: flex;
      flex-direction: column;
    }

    #hero {
      display: block;
      padding-top: 10%;
    }

    #other-skills {
      padding-top: 1em;
    }

    h1 {
      line-height: 1;
    }

    #hero {
      max-width: 90%;
    }

    #other-skills {
      max-width: 90%;
    }

    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.3rem;
    }

    li {
      font-size: 1.3rem;
    }

    #heading {
      font-size: 1.6rem;
    }
  }

  @media screen and (max-width: 480px) {
    #container {
      padding: 0 10px;
    }

    #hero {
      max-width: 100%;
    }

    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 1.4rem;
    }

    p {
      font-size: 1.2rem;
    }

    li {
      font-size: 1.2rem;
    }

    #heading {
      font-size: 1.6rem;
    }

    #other-skills {
      padding-top: 1em;
      max-width: 100%;
    }
  }

  @media screen and (min-width: 1024px) {
    #banner-container {
      flex-direction: row;
      align-items: center;
    }

    #hero {
      max-width: 60%;
    }

    #social-link {
      font-size: 3rem;
    }

    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 1.4rem;
    }

    #social {
      font-size: 10px;
    }

    li {
      font-size: 1.4rem;
    }

    #other-skills {
      padding-top: 3rem;
      max-width: 60%;
    }

    #heading {
      font-size: 2.5rem;
    }
  }
</style>
